  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

 
 
  :root {
    --primary-color: #702082;
    --secondary-color: #CFC096;
    --accent-color: #9B9A6D;
    --button-color: #4CAF50;
    --button-hover-color: #45a049;
    --border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
  }

  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #702082;
    background: #CFC096;
  }

  .skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background-color: #333;
    color: #fff;
    padding: 8px;
    z-index: 1000;
    text-decoration: none;
}
.skip-link:focus {
    top: 0;
}

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: #702082;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #CFC096;
    color: #9B9A6D;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
